.post {
    display: flex;
    gap: 15px;
}
.img-container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #000;
    height: 260px;
    width: 200px;
}
.img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.post-statistics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.post-statistics .statistic {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: var(--muted);
}